[Desktop Entry]
Name=Secret-Diary
Comment="Secret-Diary"
Exec=/opt/secret-diary/secret-diary %U
Icon=/opt/secret-diary/Sd.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;